.root {
    -fx-background-color: black;
    -fx-background-image: none;
}

.text-field {
    -fx-text-fill: #ff0000;
    -fx-border-width: 0;
}

button {
    -fx-text-fill: #000000;
    -fx-background: #ffffff;
}

.overlayButton {
    -fx-text-fill: white;
}

.overlayLabel {
    -fx-text-fill: black;
}