@font-face {
	/* This only seems to work when running a jar. */
	font-family: "Didact Gothic";
	src: url("font/DidactGothic.ttf");
}

.root {
    -fx-background: black;
    -fx-background-repeat: repeat;
    -fx-font-family: "Didact Gothic";
}

.label {
    -fx-text-fill: red;
    -fx-font-size: 30;
}

.button, .button:default, .button:cancel, .button:armed {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-background-color: rgba(0,0,0,0);
    -fx-border: none;
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-opacity: 0.5;
	-fx-cursor: hand;
}

.button:armed, .button:hover {
    -fx-opacity: 1.0;
}
